body {
    background-color: #eaf6f6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    height: 0px;
    width: 6%;
}

h3 {
    color: #45b29a;
}

h1 {
    color: #27a58a;
}
